
<footer class="footer myicons">
        <ul class="eric-footer-ul">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    <p style="text-align: center;margin: 0!important;">@Copy-2018 designed by Eric developer.</p>
</footer>
<script src="/javascripts/jquery-3.3.1.slim.min.js" ></script>
<script src="/javascripts/popper.min.js" ></script>
<script src="/javascripts/bootstrap.js"></script>
</body>
</html>