<!DOCTYPE html>
 <html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/animate.css" />
    <link rel='stylesheet' href='/stylesheets/style2.css' />
      <link rel="icon" href="/public/favicon.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">

    <title>Eric Developer</title>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light eric-nav"  style="background:white!important;text-transform: uppercase; font-weight: 600;  z-index: 999999;width: 100%;transition: all ease 1.3s;">
      <a class="navbar-brand" href="/"><img src="/images/newlogo.png"style="height:50px;" ></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">HOME<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/service">Service</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="/makes">MAKES</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="/blogs">blogs</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <% if (user == undefined) { %>
            <li class="nav-item"><a class="nav-link fa fa-user-circle" href="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link fa fa-arrow-right" href="/login">Login</a></li>
            <% }
            else { %>
            <li class="nav item nav-link fa fa-user-circle"><%= user.username %></li>
            <li class="nav-item"><a class="nav-link fa fa-arrow-right" href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>