<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="images/newlogo.png"style="height:50px;" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">HOME<span class="sr-only"></span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cars">CARS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/makes">MAKES</a>
            </li>
            </ul>
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link " href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login </a>
            </li>

        </ul>
    </div>
</nav>