<% include shared/header.ejs %>
<div class="container"style="text-align: center";>
    <h1 >00PS!!!</h1>
    <h3>not found</h3>
    <a href="/" class="btn eric-normal-btn">BACK</a>
</div>

<% include shared/footer.ejs %>
