<% include shared/header2.ejs %>

<% if (message.length > 0) { %>
<div class="alert alert-info"><%= message %></div>
<% }%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
    </ol>
</nav>
<div class="container container-80">

    <div class="wrapper animated bounceInLeft">
        <div class="company-info">
            <h3 style="color: white;">Contact Information</h3>

            <ul style="color: white;">
                <li><i class="fa fa-user-secret"></i> Web Developer</li>
                <li><i class="fa fa-phone"></i> (705) 796-4276</li>
                <li><i class="fa fa-envelope"></i> ericxiongyachao@gmail.com</li>
            </ul>
        </div>
        <div class="contact ">

            <form method="post">

                <p>
                    <label for="name">Name*</label>
                    <input type="text" name="name" id="name"required>
                </p>
                <p>
                    <label for="company">Company</label>
                    <input type="text" name="company" id="company">
                </p>
                <p>
                    <label for="email">Email Address*</label>
                    <input type="email" name="email" id="email" required>
                </p>
                <p>
                    <label for="phone">Phone Number*</label>
                    <input type="text" name="phone" id="phone"required>
                </p>
                <p class="full">
                    <label for="message">Message</label>
                    <textarea name="message" rows="5"id="message"></textarea>
                </p>
                <p class="full">
                    <button type="submit" class="btn eric-normal-btn eric-res-btn">Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>
<% include shared/footer.ejs %>
