<%include shared/header2.ejs%>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    <div class="container eric-container-all" style="text-align: left;">
        <div class="eric-index-body animated fadeIn">
            <div class="row eric-reverse-row "style="padding-top: 2%;">
                <div class="col-6 eric-col-6 "><h3 class="eric-index-title"><span class="point">I am Eric Xiong</span></h3>
                    <p>An enthusiastic and honest individual who is passionate about working
                        with computers. Demonstrates patience and perseverance while learning new things. Excellent time management skills,
                         works well under pressure and enjoys being a contributing member of a team..</p>
                         <p style="padding-top:9%;"><strong style="padding-right:15%;">PHONE: </strong>
                         +1-705-796-4276</p>
                       <p> <strong style="padding-right: 16%;">EMAIL: </strong>
                      ericxiongyachao@gmail.com</p>
                    <div><a href="/contact"class="btn eric-normal-btn animated shake">CONTACT ME</a></div>
                  </div>
                <div class="col-6 "><img style="max-width:100%;" src="/images/main-home-bg.jpg" ></div>
            </div>
            <div style=" margin-top: 5%; border: .5px solid #dedede;"></div>
            <div class="row row-bg"style="padding-top: 5%; padding-bottom: 2%">
                <div class="col-4 ">
                    <img class="moblie-model" src="/images/skills.png" style="width: 80px;height: 80px;">
                    <h3 class="eric-index-title" ><span class="point">SKILLS</span></h3>
                    <p class="eric-skill-p">I am inspired by creating great work with people
                        who are as passionate as I am about building something awesome.</p>

                </div>
                <div class="col-4 ">
                       <div class=" skill-item-wrap">
                           <div>
                               <h5 class="eric-skill-p">Web Design & Development</h5>
                               <p >HTML, CSS,  JavaScript, jQuery.</p>
                           </div>

                       </div>

<!--                        <div style=" margin-bottom:3%;margin-top: 3%; border: .5px solid #dedede;"></div>-->
                        <div class=" skill-item-wrap">
                            <h5 class="eric-skill-p">Javascript Frontend Framework </h5>
                            <p >React.js & React native /Angular</p>
                        </div>
<!--                        <div style=" margin-bottom:3%;margin-top: 3%; border: .5px solid #dedede;"></div>-->
                        <div class=" skill-item-wrap">
                            <h5 class="eric-skill-p">Javascript Backend Framework </h5>
                            <p >Node.js/Express.js/Mongoose</p>
                        </div>
                </div>

                <div class="col-4 ">
<!--                    <div class="eric-index-line" style=" margin-bottom: 3%;margin-top: 3%; border: .5px solid #dedede;"></div>-->
                    <div class=" skill-item-wrap">
                    <h5 class="eric-skill-p">UI\UX Design</h5>
                    <p >Photoshop,Figma</p>

                    </div>
<!--                    <div style=" margin-bottom:3%;margin-top: 3%; border: .5px solid #dedede;"></div>-->
                    <div class=" skill-item-wrap">
                    <h5 class="eric-skill-p">Database Managerment</h5>
                    <p >Mysql/SQL/MongoDB</p>
                    </div>
<!--                    <div style=" margin-bottom:3%;margin-top: 3%; border: .5px solid #dedede;"></div>-->
                    <div class=" skill-item-wrap">
                    <h5 class="eric-skill-p">Backend Frameworks </h5>
                    <p >Python/Django,C#/ASP.NET CORE</p>
                    </div>
                </div>
            </div>
            <div style=" margin-top: 3%; border: .5px solid #dedede;"></div>
            <div class="row row-bg"style="padding-top: 5%;">
                <div class="col-4 ">
                    <img class="moblie-model" src="/images/work.png" style="width: 80px;height: 80px;">
                    <h3 class="eric-index-title" ><span class="point">WORK EXPERIENCE</span></h3>

                    <p class="eric-skill-p">I am inspired by creating great work with people
                        who are as passionate as I am about building something awesome.</p>

                </div>
                <div class="col-8 ">

                    <h4>Backend Developer</h4>
                    <p class="eric-skill-p"style="margin-bottom:0;">2019.1 - Present</p>
                    <p class="eric-skill-p"><a href="https://georgiancollege.ca">Georgian College</a></p>
                    <p class="eric-skill-p">Collaborated with frontend developer to see projects through from conception to completion.
                    </p>
                    <p class="eric-skill-p"> Worked closely with project instructors, and business partners to understand application requirements.</p>
                    <p class="eric-skill-p"> Troubleshooted and solved problems.</p>
                    <div style=" margin-bottom:3%;margin-top: 3%; border: .5px solid #dedede;"></div>
                    <h4>Programmer/lllustrator</h4>
                    <p class="eric-skill-p"style="margin-bottom:0;">2018.1 - 2018.12</p>
                    <p class="eric-skill-p"><a href="http://miguydigital.ca/">Miguy Digital Service</a></p>
                    <p class="eric-skill-p">
                        Corporate site redesign in Wordpress.
                    </p>
                    <p class="eric-skill-p">
                        Building mobile and responsive websites to improve client's user experience.
                    </p>
                    <p class="eric-skill-p">
                        Web deisgn and Graphice design.
                    </p>

                    <div style=" margin-bottom:3%;margin-top: 3%; border: .5px solid #dedede;"></div>

                    <h4>Designer Assistant</h4>
                    <p class="eric-skill-p"style="margin-bottom:0;">2014.7 - 2014.9</p>
                    <p >Tong Hang Designing Service</p>
                    <p class="eric-skill-p">Basic data collection and drew sketches for houses and departments.
                    </p>
                    <p class="eric-skill-p">
                        Created and modified sketches on AutoCAD.
                    </p>
                    <p class="eric-skill-p">
                        Designed interior layout.
                    </p>
                </div>

            </div>

            <div style=" margin-top: 3%; border: .5px solid #dedede;"></div>

            <div class="row row-bg"style="padding-top: 5%;">
                <div class="col-4 ">
                    <img class="moblie-model" src="/images/education.png" style="width: 80px;height: 80px;">
                    <h3 class="eric-index-title" ><span class="point">EDUCATION</span></h3>
                    <p class="eric-skill-p">All my life I have been driven by my strong belief that education is important. I try to learn something new every single day.</p>
                </div>
                <div class="col-8 ">
                    <h4>Computer Programmer Analyst</h4>
                    <p style="margin-bottom:0;">2017.1 - Present</p>

                    <p class="eric-skill-p">Advanced Diploma, Georgian College, Barrie, ON </p>
                    <p class="eric-skill-p">Learn to code using in-demand programming languages.
                    </p>
                    <p class="eric-skill-p">Strong focus on analysis and business integration.
                    <p class="eric-skill-p">Complete a significant client project.
                    </p>
                    <div style=" margin-bottom:3%;margin-top: 3%; border: .5px solid #dedede;"></div>
                    <h4>Interior Design</h4>
                    <p style="margin-bottom:0;">2012.9  -  2016.7</p>
                    <p class="eric-skill-p" >Bachelor of Art Degree, JlLin Normal University, China     </p>
                    <p class="eric-skill-p"> Collaborative learning and individual expression. Gain hands-on experience. Learn from professionals.
                    </p>
                </div>
            </div>

        </div>
    </div>

<%include shared/footer.ejs%>
