<%include shared/header2.ejs%>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    <div class="container eric-container-all" style="text-align: left;">
        <div class="eric-index-body animated fadeIn ">
            <div class="row eric-reverse-row"style="padding-top: 2%;">
                <div class="col-6 eric-col-6"><h3 class="eric-index-title"><span class="point">I am Eric Xiong</span></h3>
                    <p>An enthusiastic and honest individual who is passionate about working
                        with computers. Demonstrates patience and perseverance while learning new things. Excellent time management skills,
                         works well under pressure and enjoys being a contributing member of a team..</p>
                         <p style="padding-top:9%;"><strong style="padding-right:15%;">PHONE: </strong>
                         +1-705-796-4276</p>
                       <p> <strong style="padding-right: 16%;">EMAIL: </strong>
                      ericxiongyachao@gmail.com</p>
                    <div><a href="http://localhost:3000/contact"class="btn eric-normal-btn">CONTACT ME</a></div>
                  </div>
                <div class="col-6 "><img style="max-width:100%;" src="/images/webd.jpg" ></div>
            </div>
            <div style=" margin-top: 3%; border: .5px solid #dedede;"></div>
              <div class="row"style="padding-top: 5%;">
                <div class="col-4">
                    <h3 class="eric-index-title" ><span class="point">SKILLS</span></h3>
                      <p class="eric-skill-p">I am inspired by creating great work with people
                       who are as passionate as I am about building something awesome.</p>
                </div>
                <div class="col-4">
                    <h4>Frontend Development</h4>
                      <p class="eric-skill-p">HTML, CSS, Bootstrap, Wordpress,Express.js, Angular.js.</p>
                       <div style=" margin-bottom:3%;margin-top: 3%; border: .5px solid #dedede;"></div>
                      <h4>Web Development</h4>
                    <p class="eric-skill-p">Javascript, JQuery,JAVA,  PHP, Vue.js,Node.js, MongoDB, MySQL,Nosql, WebStorm.</p>
                </div>

                <div class="col-4">
                    <div class="eric-index-line" style=" margin-bottom: 3%;margin-top: 3%; border: .5px solid #dedede;"></div>
                      <h4>UI\UX Design</h4>
                       <p class="eric-skill-p">Photoshop, Illustrator, User Research, Usability Testing.</p>
                        <div style=" margin-bottom:3%;margin-top: 3%; border: .5px solid #dedede;"></div>
                       <h4>Consulting & SEO Audit</h4>
                      <p class="eric-skill-p">Woorank, Raventools, Semrush, Moz, WebCEO, Google Analytics.
                    </p>
                </div>
            </div>
        </div>
    </div>
<%include shared/footer.ejs%>
