<% include shared/header2.ejs %>
<div class="container " style="text-align: center;
">

<div class="eric-contanct-body animated bounceInLeft">


<h1 class="eric-h1-reg">REGISTER</h1>

<form method="post">
    <fieldset class="form-group" autocomplete="on">
        <label for="username" class="col-sm-2 control-label">Email: *</label>
        <input name="username" id="username" required autocomplete="off" type="email" />
    </fieldset>
    <fieldset class="form-group" autocomplete="on">
        <label for="password" class="col-sm-2 control-label">Password: *</label>
        <input name="password" id="password" type="password"  autocomplete="off" required />
    </fieldset>
    <fieldset class="form-group" autocomplete="on">
        <label for="confirm" class="col-sm-2 control-label">Confirm: *</label>
        <input name="confirm" id="confirm" type="password" autocomplete="off" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone: </label>
        <input name="phone" id="phone" type="tel" />
    </fieldset>
    <div class="form-group">
        <button class="btn eric-normal-btn ">Register</button>
        <hr />
        Already have an account?  <a href="/login" title="Login">Login</a>
    </div>
</form>
</div>
</div>
<% include shared/footer.ejs %>