<%include shared/header2.ejs%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Service</li>
    </ol>
</nav>
<div class="container container-space" style="text-align: left;">
    <div class="eric-index-body animated fadeIn">

            <div class="eric-card-container ">
                <div class="eric-card-grid-1">
                    <div class="service-card">
                        <div class="service-card-title">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <h2>Graphic Design</h2>
                        </div>
                        <!--<div class="service-card-price">
                            <h4> </h4>
                        </div>-->
                        <div class="service-card-option">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Any Covers</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Logo Design</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Business Card Design</li>
                            </ul>
                        </div>
                        <a class="btn eric-white-btn" href="/contact">CONTACT</a>
                    </div>
                </div>

                <div class="eric-card-grid-1">
                    <div class="service-card">
                        <div class="service-card-title">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            <h2>Web Design </h2>
                        </div>
                       <!-- <div class="service-card-price">
                            <h4><sup>$</sup>25</h4>
                        </div>-->
                        <div class="service-card-option">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Personalized Consultation</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Moblie Design</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Content Planning</li>

                                <li><i class="fa fa-check" aria-hidden="true"></i> Content Management System</li>






                            </ul>
                        </div>
                        <a class="btn eric-white-btn" href="/contact">CONTACT</a>
                    </div>
                </div>



                <div class="eric-card-grid-1">
                    <div class="service-card ">
                        <div class="service-card-title ">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                            <h2>Others</h2>
                        </div>
                        <!--<div class="service-card-price">
                            <h4><sup>off</sup>50%</h4>
                        </div>-->
                        <div class="service-card-option">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> E-Commerce Stores</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Search Engine Optimization</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Social Media Page Design</li>

                            </ul>
                        </div>
                        <a class="btn eric-white-btn" href="/contact">CONTACT</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

<%include shared/footer.ejs%>
