<%include shared/header2.ejs%>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Service</li>
    </ol>
</nav>
    <div class="container-fluid">
        <div class="container">


            <div class="row">
                <div class="col-sm-4">
                    <div class="service-card">
                        <div class="service-card-title">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            <h2>Basic</h2>
                        </div>
                        <div class="service-card-price">
                            <h4><sup>$</sup>25</h4>
                        </div>
                        <div class="service-card-option">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 10GB space</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 3 Domain</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 20 Email Address</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i> Live Support</li>
                            </ul>
                        </div>
                        <a class="btn eric-white-btn" href="/contact">Order Now</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="service-card">
                        <div class="service-card-title">
                            <i class="fa fa-plane" aria-hidden="true"></i>
                            <h2>Basic</h2>
                        </div>
                        <div class="service-card-price">
                            <h4><sup>$</sup>25</h4>
                        </div>
                        <div class="service-card-option">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 10GB space</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 3 Domain</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 20 Email Address</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i> Live Support</li>
                            </ul>
                        </div>
                        <a class="btn eric-white-btn" href="/contact">Order Now</a>
                    </div>
                </div>



                <div class="col-sm-4">
                    <div class="service-card ">
                        <div class="service-card-title ">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                            <h2>Basic</h2>
                        </div>
                        <div class="service-card-price">
                            <h4><sup>$</sup>25</h4>
                        </div>
                        <div class="service-card-option">
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 10GB space</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 3 Domain</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> 20 Email Address</li>
                                <li><i class="fa fa-times" aria-hidden="true"></i> Live Support</li>
                            </ul>
                        </div>
                        <a class="btn eric-white-btn" href="/contact">Order Now</a>
                    </div>
                </div>
            </div>


        </div>
    </div>

<%include shared/footer.ejs%>
