<%include ../shared/header2%>

<div class="container eric-container-all" style="text-align: center;">
    <div class="eric-contanct-body animated fadeIn ">
        <h1 class="eric-h1-reg">Car details Edit</h1>
        <form method="post" >
            <fieldset class="form-group">
                <label class="control-label col-md-2" for="make">Make: *</label>
                <input name="make" id="make" required />
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-2" for="make">Make: *</label>
                <select name="makeId" id="makeId">
                    <%for(let i=0;i<makes.length;i++) { %>
                    <option><%= makes[i]._id%></option>
                    <%}%>
                </select>
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-2" for="model">Model: *</label>
                <input name="model" id="model" required />
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-2"for="year">Year: *</label>
                <input name="year" id="year" required />
            </fieldset>
            <fieldset class="form-group">
                <label class="control-label col-md-2"for="color">Color: *</label>
                <input name="color" id="color" />
            </fieldset>
            <button class="btn eric-normal-btn">Save</button>
        </form>
    </div>
</div>
<%include ../shared/footer%>